@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply w-full h-screen;
  }
  ,
  a,
  button,
  input {
    @apply focus:outline-none focus-visible:outline-blue;
  }
}

@layer components {
  .button {
    @apply px-6 py-2 text-xs font-medium text-center duration-200 border border-gray-200 hover:opacity-70;
  }
  .input {
    @apply border border-gray-200 p-2 w-full mb-2;
  }
}

@layer utilities {
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
